$card-bg: #777;

.card {
  @include box-shadow;

  border-radius: $border-radius;
  border: 0.2rem solid white;
  background-color: white;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 15rem;

  &__wrapper {
    width: 0rem;
    animation: fullView 0.5s forwards linear;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    flex-direction: row;
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  &__row {
    &--sm {
      background: $card-bg;
      margin-top: 0.75rem;
      border-radius: $border-radius-sm;
      height: 0.25rem;
    }

    &--def {
      background: $card-bg;
      margin-bottom: 0.75rem;
      border-radius: $border-radius-sm;
      height: 1.8rem;
    }
  }

  &__button {
    background: $card-bg;
    border-radius: $border-radius-sm;
    height: 2rem;
    flex-grow: 1;
    margin-top: 1rem;
    max-width: 8rem;
    
    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }

  &__icon {
    height: 6rem;
    width: 6rem;
    border-radius: $border-radius-bg;
    background: $card-bg;
  }

  &__chip {
    border-radius: 1.2rem;
    background: $card-bg;
    height: 1.5rem;
    width: 3rem;

    &:first-child {
      margin-right: 0.5rem;
    }

    &:last-child {
      margin-left: 0.5rem;
    }
  }
}