.form-control {
  display: block;
  padding: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.form-header {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
  
  .MuiFormControl-root {
    &:last-child {
      width: 45%!important;
    }

    &:first-child {
      width: 45%!important;
    }
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.no-margin {
  margin: 0!important;
}