$max-width: 1240px;
$page-padding: 2rem;
$border-radius-bg: 1.6rem;
$border-radius: 0.8rem;
$border-radius-sm: 0.4rem;

$background-color: 	#a6d4fa;
$light-background-color: #f2f9fe;
$heading-color: #191970;
$light-heading-color: #6464DC;
$primary-font-color: #074b83;
